
@media (max-width: 400px) {

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav, nav#nave {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 10px;
    }

    /* ضبط عرض الصناديق لتتناسب مع الشاشة */
    .box, section, article {
        width: 95% !important;
        margin: 10px auto;
    }
}


body{
    background-color: rgb(245, 238, 228);
     background-size: cover;
    background-repeat: no-repeat;
    font-family : ’ Arial ’ , sans - serif ;
}
body h2{
    color: rgb(38, 149, 204);
}
body section{
    background-color: rgb(228, 243, 249);
    padding: auto;
    text-align:justify;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    border-color: #1a252f;
    border-style:outset;
}
header h1{
    text-align: center;
    color: rgb(36, 36, 122);
    padding: 20px 300px;
    text-shadow: gray;
    
}
header img{
    border-radius: 20px;
    border-style: groove;
    border-color: #9ebbd7;
}
header p{
    color: rgb(22, 19, 87);
    line-height : 1.6;
}
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
}
a [ href ^= " https :// " ] { 
 color : #1976 d2 ;
}
#nave {
            margin: 0 20px 25px 20px;
            padding: 12px;
            background-color: rgb(169, 200, 212);
            border-radius: 10px;
            border: 1px solid #1a252f;
    }
nav a {
            color: rgb(36, 36, 122);
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            margin-right: 30px;
}

nav a:hover {
            color: rgb(38, 149, 204);
            text-decoration: underline;
}

#welcome-section {
    background-color: #1a252f;
    color: #ffffff;
    text-align: center;
    margin: 0 20px 25px 20px;
    padding: 12px;
    border-radius: 10px;
}
.welcome-content h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}
.welcome-btn {
    display: inline-block;
    background-color: #82cfe0;
    color: rgb(13, 85, 121);
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.welcome-btn:hover{

     color: rgb(192, 210, 219);
            text-decoration: underline;
}
.welcome-btn a{
text-decoration: none;
}
#nav ul{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    background-color: #9ebbd7;
    border-color: #1a252f;
    border-style: solid;
    color: #ffffff;
    text-align: center;
    margin: 0 20px 25px 20px;
    padding: 12px;
    border-radius: 10px;
}
footer{
    padding: 20px;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    box-shadow: gray;
    border-color: #1a252f;
    background-color: rgb(238, 242, 244);
    border-style: dashed;
}
footer a:hover{
    
 color: rgb(38, 149, 204);
  text-decoration: underline;

}
footer a{
    color: rgb(36, 36, 122);
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            margin-right: 30px;
}
input [type = " text "] {
 border : 2 px solid #ddd ;
padding: 8 px ;
 border-radius: 4 px ;
 }
